name: Nokia N-Gage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout toolchain
      uses: actions/checkout@v4

    - name: Install Ninja
      run: choco install ninja --confirm
      shell: pwsh

    - name: Clone ngage-toolchain
      run: git clone https://github.com/ngagesdk/ngage-toolchain.git

    - name: Set up NGAGESDK environment variable
      run: |
        $ngagesdk = "${{ github.workspace }}/ngage-toolchain"
        $ngagesdk = $ngagesdk -replace '\\', '/'
        echo "NGAGESDK=$ngagesdk" >> $env:GITHUB_ENV
      shell: pwsh

    - name: Add runtime paths to PATH
      run: |
        echo "${{ env.NGAGESDK }}/sdk/sdk/6.1/Shared/EPOC32/gcc/bin" >> $env:GITHUB_PATH
        echo "${{ env.NGAGESDK }}/sdk/sdk/6.1/Shared/EPOC32/ngagesdk/bin" >> $env:GITHUB_PATH
      shell: pwsh

    - name: Verify directory structure
      run: |
        echo "NGAGESDK: ${{ env.NGAGESDK }}"
        ls ${{ env.NGAGESDK }}
        ls ${{ env.NGAGESDK }}/setup
      shell: pwsh

    - name: Fetch SDK
      run: cmake -G "Ninja" -P ${{ env.NGAGESDK }}/setup/setup.cmake -S ${{ env.NGAGESDK }}/setup -B ${{ env.NGAGESDK }}/build
      shell: pwsh

    - name: Clone kagekero
      run: git clone https://github.com/ngagesdk/kagekero.git ${{ env.NGAGESDK }}/projects/kagekero
      shell: pwsh

    - name: Build kagekero
      run: |
        cmake -DCMAKE_PREFIX_PATH=${{ env.NGAGESDK }}/sdk/extras/lib/cmake -G "Ninja" -S ${{ env.NGAGESDK }}/projects/kagekero -B ${{ env.NGAGESDK }}/projects/kagekero/build -DCMAKE_TOOLCHAIN_FILE=${{ env.NGAGESDK }}/cmake/ngage-toolchain.cmake
        cmake --build ${{ env.NGAGESDK }}/projects/kagekero/build
      shell: pwsh

    - name: Prepare kagekero artifact directory
      run: |
        New-Item -ItemType Directory -Path NGAGE\System\Apps\kagekero -Force
        Copy-Item ${{ env.NGAGESDK }}\projects\kagekero\build\kagekero.aif NGAGE\System\Apps\kagekero\
        Copy-Item ${{ env.NGAGESDK }}\projects\kagekero\build\kagekero.app NGAGE\System\Apps\kagekero\
        Copy-Item ${{ env.NGAGESDK }}\projects\kagekero\build\kagekero.exe NGAGE\System\Apps\kagekero\
        Copy-Item ${{ env.NGAGESDK }}\projects\kagekero\build\kagekero.rsc NGAGE\System\Apps\kagekero\
        Copy-Item ${{ env.NGAGESDK }}\projects\kagekero\export\data.pfs NGAGE\System\Apps\kagekero\
      shell: pwsh

    - name: Archive kagekero
      uses: actions/upload-artifact@v4
      with:
        name: kagekero-NGAGE.zip
        path: NGAGE
        if-no-files-found: error
